<footer class="footer">
    <div class="footer-container">

        <div class="footer-brand">
            <h2>Graha Jannati Properti<span>Tanah</span></h2>
            <p>
                Platform pemesanan Tanah
            </p>
        </div>

        <div class="footer-links">
            <h4>Explore</h4>
            <a href="#">Now Showing</a>
            <a href="#">Upcoming Movies</a>
            <a href="#">Top Rated</a>
        </div>

        <div class="footer-links">
            <h4>Support</h4>
            <a href="#">Help Center</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="footer-contact">
            <h4>Connect</h4>

            <div class="footer-socials">
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2025 CineTix. All Rights Reserved.</p>
    </div>
</footer>